@import '~normalize-css/normalize.css';

body {
  margin: 0;
}

h1 {

}

.box {
  background: black;
  padding: 2em;
  display: flex;
  &.red {
    background: red;
  }
  > div {
    width: 50%;
  }
  .question {
    label {
      width: 100%;
      margin-bottom: 1em;
      display: flex;
      span {
        display: inline-block;
        padding-left: 20px;
      }
      input:checked + div .explanation {
        display: block;
      }
    }
    .explanation {
      padding-left: 20px;
      margin-top: 1em;
      margin-bottom: 1em;
      font-style: italic;
      display: none;
      &.isTrue {
        background: green;
      }
    }
  }
}